@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

* {
  margin: 0;
  
}
.work-link {
  text-decoration: none;
  color: #000000;
  border: 1px solid #555555;
  padding: 0.5em 1em;
  background: #55555570;
  transition: 0.5s;
}
.work-link:hover {
  background: #00000070;
}

ul {
  list-style: none;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
  
}
#canvas {
  position: fixed;
  top: 0;
  display: block;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  z-index: -5;
}

.preloader {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  /* фоновый цвет */
  background: #e0e0e0;
  z-index: 1001;
}

.open {
  display: block;
}

.preloader__image {
  position: relative;
  top: 50%;
  left: 50%;
  width: 70px;
  height: 70px;
  margin-top: -35px;
  margin-left: -35px;
  text-align: center;
  animation: preloader-rotate 2s infinite linear;
}

@keyframes preloader-rotate {
  100% {
    transform: rotate(360deg);
  }
}

.loaded_hiding .preloader {
  transition: 0.3s opacity;
  opacity: 0;
}

.loaded .preloader {
  display: none;
}

header {
  padding: 0.5rem;
  position: sticky;
  top: 0;
  background-color: #55555575;
  border-bottom: 1px solid #555555;
  
}

.logo {
  margin: auto;
  max-width: 400px;
  font-size: 32px;
  background: rgb(83, 83, 83);
  background: radial-gradient(circle, rgba(83, 83, 83, 1) 0%, rgba(0, 0, 0, 0.9898809865743172) 36%);
  color: #ffffff;
  fill: #ffffff;
  border-radius: 25px;
  padding: 0.1rem 1rem;
  display: flex;
  justify-content: center;
  animation: gradient 5s infinite alternate;
}

@keyframes gradient {
  from {
    background-position: -150px;
  }

  to {
    background-position: 150px;
  }
}

.iam-img {
  width: 80%;
  max-width: 450px;
  border-radius: 300px;
}

.contacts span {
  font-size: 32px;
  font-weight: bold;
  color: rgb(255, 0, 0);
  font-style: oblique;
}


main {
  width: 100%;
  height: 100%;
  position: relative;
  box-sizing: border-box;
  margin-bottom: 100px;
  text-align: center;
  
  
}

.content.works .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.content.works .container .work {
  width: 400px;
  margin-bottom: 50px;
}
.content.works .container .work img {
  width: 90%;
  border: 1px solid #555555;
  transition: 0.3s ease;
}
.content.works .container .work img:hover {
  transform: scale(1.1);
}

article {
  padding: 0 2rem;
  display: none;
  height: 100%;
}

.contact-list {
  display: flex;
  justify-content: space-evenly;
  max-width: 600px;
  margin: 0 auto;
}

.contact-list li:hover svg {
  fill: #555555;
}

.contact-list li:nth-child(n) {
  animation: breez 2s infinite;
  position: relative;
}

.contact-list li:nth-child(2n) {
  animation: breez 2s infinite 1s;
  position: relative;
}

@keyframes breez {
  from {

    top: 0;
  }

  50% {
    top: 7px;
  }

  to {
    top: 0;
  }
}

h1,
h2,
h3 {
  margin: 1em 0;
  font-family: 'Russo One', sans-serif;
}

p {
  margin: 1em 0;
  font-size: 18px;

}

footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  background-color: #b9b9b9e7;
  color: #555555;
  font-size: 0.8rem;

  padding: 0.5rem 0;
  border-top: 1px solid #555555;
}
.nav {
  cursor: pointer;
}
footer div {
  display: flex;
  flex-direction: column;
  align-items: center;
  fill: #555555;
  margin: 0.5em 0;
}

footer .select {
  color: #000000;
  fill: #000000;
}

#phrase {
  max-width: 300px;
  margin: 1px auto;
  padding: 15px;
  font-style: italic;
  border: 2px solid #000000;
  text-align: start;
  background-color: #55555569;
  border-radius: 25px;
  font-size: 1.1em;
}


@media screen and (min-width:600px) {
  .iam-img {
   width: 30%;
  }


}

.btn-up {
  position: fixed;
  background-color: #55555569;
  right: 0.5em;
  bottom: 4.5em;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 48px;
  border: 1px solid #555555;
  border-bottom: none;
  animation: up 0.5s;
}

@keyframes up {
  from {
    height: 0;
  }
  
}
@keyframes down {
  to {
    height: 0;
    opacity: 0;
  }
  
}

.btn-up::before {
  content: "";
  width: 30px;
  height: 30px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='black' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  transition: visibility 0s 0.3s;
  animation: down 0.5s;
  visibility: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}